.App {
  text-align: center;
  padding-top: 10px;
  padding-left: 30px;
  padding-right: 30px;
  padding-bottom: 30px;
  background-color: #080707;
  border-radius: 5px;
  color: white;
  
}



.txtimagen span {
  position: absolute;
  font-size: 39px;
  font-weight: bold;
  margin-top: 470px;
  color: white;
  width: 100%;
  left: 0px;
  
}

.txtimagen span:nth-child(1) {
  margin-top: 39px;

}

.txtimagen img {
 
  background-color: hsl(0, 0%, 0%);
  
}

body, .txtimagen{
  background-color: rgb(3, 2, 2);
}

.App button {
  background-color: #4CAF50;
  border: none;
  color: white;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  cursor: pointer;
  border-radius: 5px;
}

.App .txtintro{
  justify-content: left;
  text-align: left;
  color: white;
}

.App input{
  width: 40%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
